/* .home{
background-color: #115061;
height:90vh;
position: relative;
} */

/* .home img{
position: absolute;
right:30px;
top:100px;

}
.home img:nth-child(2){
    position:absolute;
    right:0px;
    top:0;
    opacity:0.1;
    } */